@import url("https://fonts.googleapis.com/css?family=Poppins:275,200,400,500,600");
@import url("https://fonts.googleapis.com/css?family=Open Sans:275,200,400,500,600");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Poppins", "sans-serief";
}

body {
  background-color: #684bb1;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  max-height: 100vh;
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  left: 0;
  z-index: -1;
}

.main {
  max-width: 1280px;
  margin-left: 80px;
  margin-right: 80px;
}

.nav {
  padding-top: 64px;
  padding-bottom: 104px;
}

.nav__logo {
  width: 200px;
}

.nav__logo img {
  max-width: 100%;
  height: auto;
}

.content {
  display: flex;
  gap: 59px;
  color: white;
}

.content__image {
  width: 696px;
}

.content__image img {
  max-width: 100%;
  height: auto;
}

.content__texte {
  width: 520px;
  margin-top: 32px;
}

.h1 {
  font-size: 40px;
  margin-bottom: 24px;
  font-weight: 500;
}

.h3 {
  font-size: 18px;
  margin-bottom: 24px;
  font-family: "Open Sans";
}

.btn {
  width: 200px;
  height: 56px;
  background-color: white;
  color: #684bb1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
}

.btn:hover {
  background-color: #E880E8;
  color: white;
}


.footer {
  display: flex;
  justify-content: flex-end;
  bottom: 10px;
  cursor: pointer;
}
